<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>DubsVote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="static/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="static/css/flat-ui.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>
    <style>
    body{padding-top:70px; font-family:'Raleway',sans-serif; background-color: #f2f2f2;}
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="static/js/vendor/html5shiv.js"></script>
      <script src="static/js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <nav class="navbar navbar-default navbar-fixed-top navbar-embossed" style="box-shadow: 0 3px 2px -2px rgba(8, 8, 8, 0.3);background-color:#32b38c;color:white;" role="navigation">
          <div class="container">
              <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-03">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" style="color:white;" href="#">DubsVote</a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse-03">
              <ul class="nav navbar-nav navbar-right">
                <!--<li class="active"><a href="#fakelink">Products</a></li>
                <li><a href="#fakelink">Features</a></li>-->
               </ul>
          </div><!-- /.navbar-collapse -->
      </div>
        </nav>
    <div class="container">

        <div class="row ">
            <div class="col-md-6">
                <center><video width="400" height="400" controls>
                    <source src="https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11175644_953010454730492_561602905_s.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                </video></center>
            </div>
            <div class="col-md-6">
                <center><video width="400" height="400" controls>
                    <source src="https://scontent.cdninstagram.com/hphotos-xfa1/t50.2886-16/11175644_953010454730492_561602905_s.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                </video></center>
            </div>
        </div><br>
        <div class="row" align="center"><p class="lead">Which one is cool?</p></div>
        <div class="row">
            <div class="col-md-6">
                <center><button class="btn btn-embossed btn-primary btn-wide">
                    Left
                </button></center>
            </div>
            <div class="col-md-6">
                <center><button class="btn btn-embossed btn-primary btn-wide">
                    Right
                </button></center>
            </div>
        </div>
    </div>
    <!-- /.container -->


    <!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
    <script src="static/js/vendor/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/vendor/video.js"></script>
    <script src="static/js/flat-ui.min.js"></script>

  </body>
</html>
